@font-face {
  font-family: "iconfont"; /* Project id 3919163 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3919163_2c8b2vv7v6m.woff2?t=1740625476363') format('woff2'),
       url('//at.alicdn.com/t/c/font_3919163_2c8b2vv7v6m.woff?t=1740625476363') format('woff'),
       url('//at.alicdn.com/t/c/font_3919163_2c8b2vv7v6m.ttf?t=1740625476363') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao2-copy:before {
  content: "\e98c";
}

.icon-xiangxiajiantoucuxiao:before {
  content: "\e8c8";
}

.icon-shuaxin:before {
  content: "\e61e";
}

.icon-A:before {
  content: "\e6e8";
}

.icon-zhedie-zhankai:before {
  content: "\e717";
}

.icon-zhedie-shouqi:before {
  content: "\e718";
}

.icon-xiangmu:before {
  content: "\e807";
}

.icon-fukuan:before {
  content: "\e808";
}

.icon-weizhi:before {
  content: "\e809";
}

.icon-lianxifangshi:before {
  content: "\e80a";
}

.icon-kehu:before {
  content: "\e80b";
}

.icon-tongji:before {
  content: "\e80c";
}

.icon-qushi:before {
  content: "\e80d";
}

.icon-fenlei:before {
  content: "\e80e";
}

.icon-shouye:before {
  content: "\e7cd";
}

.icon-banben:before {
  content: "\e802";
}

.icon-yiwen:before {
  content: "\e803";
}

.icon-riqi:before {
  content: "\e804";
}

.icon-chaxun:before {
  content: "\e805";
}

.icon-shanchu:before {
  content: "\e806";
}

.icon-gongneng:before {
  content: "\e7ce";
}

.icon-xiaoxi2:before {
  content: "\e7cf";
}

.icon-wode:before {
  content: "\e7d0";
}

.icon-gongchang:before {
  content: "\e7d1";
}

.icon-zhantai:before {
  content: "\e7d3";
}

.icon-meikuang:before {
  content: "\e7d4";
}

.icon-qiyun:before {
  content: "\e7d5";
}

.icon-chuanyun:before {
  content: "\e7d6";
}

.icon-tieyun:before {
  content: "\e7dd";
}

.icon-jiankong:before {
  content: "\e7de";
}

.icon-xitongjicheng:before {
  content: "\e7df";
}

.icon-shujufenxi:before {
  content: "\e7e0";
}

.icon-xinwenzixun:before {
  content: "\e7e1";
}

.icon-yujing:before {
  content: "\e7e2";
}

.icon-zijinfenxi:before {
  content: "\e7e3";
}

.icon-xianjinliu:before {
  content: "\e7e4";
}

.icon-caigou:before {
  content: "\e7e5";
}

.icon-xiaoshoudingdan:before {
  content: "\e7e6";
}

.icon-baobiao:before {
  content: "\e7ea";
}

.icon-danhao:before {
  content: "\e7eb";
}

.icon-hetongdingdan:before {
  content: "\e7ec";
}

.icon-shenhe:before {
  content: "\e7ed";
}

.icon-zhongzhi:before {
  content: "\e7ee";
}

.icon-tianjia:before {
  content: "\e7ef";
}

.icon-gengduo:before {
  content: "\e7f0";
}

.icon-shijian:before {
  content: "\e7f1";
}

.icon-banquan:before {
  content: "\e98b";
}

